@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

button a {
  color: #000000;
}

html,
body {
  scroll-behavior: smooth !important;
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}
/* background: #111827;*/
body {
  background: #e7e7e7;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

label {
  position: absolute;
  width: 45px;
  height: 22px;
  right: 500px;
  top: 50px;
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
}

label:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background: #000;
  transition: 0.5s;
}

label.active:before {
  left: 24px;
  background: #fff;
  color: #000;
}

body.night h1.myname {
  color: #f3f3f3;
}

body.night {
  background: #111827;
  color: #fff;
}

body.night button a {
  color: #fff;
}

body.night div.wrapperssec5b button.button {
  border: 2px solid #f3f3f3;
}

body.night .timeline ul li .content p.subsec4 {
  color: #ffffff;
}

body.night .timeline ul li .content p.subsec4left {
  color: #ffffff;
}

body.night div.containermain-sec3 {
  background-color: #1e293b;
}

body.night div.containermain-sec3 p {
  color: #f3f3f3;
}

body.night div.containermain-sec3two {
  background-color: #1e293b;
}

body.night div.containermain-sec3two p {
  color: #f3f3f3;
}

body.night div.containermain-sec3three {
  background-color: #1e293b;
}

body.night div.containermain-sec3three p {
  color: #f3f3f3;
}

@media (prefers-color-scheme: dark) {
  button.button {
    border: 2px solid #ffffff;
  }

  .timeline ul li .content p.subsec4 {
    color: #ffffff;
  }

  .timeline ul li .content p.subsec4left {
    color: #ffffff;
  }
}

/* -- LOADER -- */
.loader_bg {
  position: fixed;
  z-index: 999999;
  background: #f3f3f3;
  width: 100%;
  height: 100%;
}

.loader {
  --path: #ff9000;
  --dot: #000000;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
  display: inline-block;
  margin: 0 16px;
  top: calc(50vh - 0px);
  left: calc(50vw - 140px);
}

.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect,
.loader svg polygon,
.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

/* MAIN HTML*/
.logo {
  height: 100px;
}

.logo .logoimg {
  max-width: 100%;
  width: 75px;
  margin: 25px 0px 0px 350px;
}

#section1 {
  min-height: 80vh;
  height: 80vh;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  border-style: none;
}

h1.myname {
  margin: 0px;
  padding: 0;
  animation: slideanimation 2s cubic-bezier(0.37, 0, 0.63, 1) 0s 1 normal
    forwards;
  color: #222222;
}

div.wrappersec1 {
  display: flex;
  width: 65%;
  margin: auto;
}

div.mynamecont {
  margin-top: 230px;
  width: 47%;
  padding-right: 55px;
}

div.mynamecont h1.myname {
  font-weight: 800;
  font-size: 5.2vh;
  letter-spacing: 0.6px;
}

div.mynamecont p {
  font-size: 1.74vh;
  margin: 4.5px 0px 0px 0px;
  animation: slideanimation 2.2s cubic-bezier(0.37, 0, 0.63, 1) 0s 1 normal;
}

div.mynamecont p.mynameabt {
  font-size: 1.5vh;
  margin-top: 10px;
  animation: slideanimation 2.5s cubic-bezier(0.37, 0, 0.63, 1) 0s 1 normal;
}
div.mynamecont button {
  background-color: #ff9000;
  max-width: 100%;
  width: 130px;
  border: none;
  padding: 15px 13px;
  border-radius: 9px;
  margin-top: 40px;
  animation: slideanimation 2.7s cubic-bezier(0.37, 0, 0.63, 1) 0s 1 normal;
}

div.mynamecont button:hover {
  background-color: #814900;
}

div.mynamecont a {
  text-decoration: none;
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

div.imgsec1 img {
  max-width: 100%;
  width: 500px;
  margin-top: 100px;
  clip-path: circle(50% at 50% 50%);
  cursor: pointer;
  animation: slideanimation 2.9s cubic-bezier(0.37, 0, 0.63, 1) 0s 1 normal;
}

div.imgsec1 img:hover {
  transform: scale(1.05);
}

#section2 {
  min-height: 80vh;
  height: 80vh;
  display: inline-block;
  width: 100%;
  margin-top: 180px;
}

div.headersec2 {
  margin: auto;
  margin-top: 100px;
}

div.headersec2 h1 {
  font-weight: 400;
  font-size: 48px;
  text-align: center;
}

div.headersec2 p {
  margin: auto;
  margin-top: -45px;
  text-align: center;
}

div.wrappersec2 {
  display: flex;
  width: 65%;
  margin: auto;
  margin-top: 80px;
}

div.imgsec2 img.sec2picabout {
  max-width: 100%;
  width: 4350px;
  border-radius: 10px;
}

div.infoabout2 {
  margin-left: 50px;
  margin-top: 20px;
}

div.infoabout2 p.aboutme2 {
  font-size: 18px;
  text-align: justify;
}

div.numberholder {
  display: flex;
  width: 100%;
}

div.numbers {
  width: 20%;
  margin-right: 25px;
  text-align: center;
}

div.numbers h1 {
  font-size: 30px;
  font-weight: 700;
  color: #ff9000;
}

div.numbers p {
  font-size: 0.9rem;
  margin-top: -20px;
  font-weight: 300;
}

div.infoabout2 button {
  background-color: #ff9000;
  border: none;
  padding: 15px 13px;
  border-radius: 9px;
  margin-top: 40px;
}

div.infoabout2 button a {
  text-decoration: none;
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

div.infoabout2 button i {
  margin-left: 4px;
}

#section3 {
  min-height: 80vh;
  height: 80vh;
  margin-top: 110px;
  display: inline-block;
  width: 100%;
}

div.headersec3 {
  margin: auto;
}

div.headersec3 h1 {
  font-weight: 400;
  font-size: 48px;
  text-align: center;
}

div.headersec3 p {
  margin: auto;
  margin-top: -30px;
  text-align: center;
}

div.container-holdersec3 {
  display: flex;
  max-width: 100%;
  width: 100%;
  height: 430px;
  justify-content: center;
  align-items: center;
}

div.containermain-sec3 {
  max-width: 100%;
  width: 21%;
  max-height: 100%;
  height: 300px;
  margin-top: 80px;
  border-radius: 12px;
  padding-bottom: 30px;
  box-shadow: rgba(34, 34, 34, 0.35) 0px 5px 15px;
}

div.containermain-sec3two {
  max-width: 100%;
  width: 21%;
  max-height: 100%;
  height: 300px;
  margin-left: 25px;
  margin-top: 80px;
  border-radius: 12px;
  padding-bottom: 30px;
  box-shadow: rgba(34, 34, 34, 0.35) 0px 5px 15px;
}

div.containermain-sec3three {
  max-width: 100%;
  width: 21%;
  max-height: 100%;
  height: 300px;
  margin-left: 25px;
  margin-top: 80px;
  border-radius: 12px;
  padding-bottom: 30px;
  box-shadow: rgba(34, 34, 34, 0.35) 0px 5px 15px;
}

div.container-headersec3 {
  display: flex;
  align-items: center;
}

div.container-headersec3i {
  max-width: 100%;
  width: 20%;
  text-align: center;
}
div.container-headersec3i i {
  justify-content: center;
  font-size: 30px;
  margin-left: 40px;
  margin-top: 5px;
}

div.container-headersec3p p {
  font-size: 1.2rem;
  text-align: center;
  margin-left: 30px;
  color: #000000;
}

div.container-headersec3p p.headersec3p2 {
  width: 72%;
  margin-top: -20px;
  margin-left: 16px;
  font-size: 15px;
  text-align: center;
}

div.container-headersec3p p.headersec3p2three {
  width: 100%;
  margin-top: -20px;
  margin-left: 23px;
  font-size: 15px;
  text-align: center;
}

div.container-headersec3p p.others {
  margin-left: -0px;
}

div.container-headersecpicholder img {
  max-width: 100%;
  width: 65px;
}

div.container-headersecpicholder {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 40px;
}

div.textholderimg p {
  margin: auto;
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-size: 0.8em;
}

div.textholderimg {
  transition: all 0.2s ease-in-out;
  margin: auto;
}

div.textholderimg:hover {
  transform: scale(1.3);
}

#section4 {
  min-height: 80vh;

  display: inline-block;
  width: 100%;
}

div.sec4header h1 {
  font-weight: 400;
  font-size: 48px;
  text-align: center;
}

div.sec4header p {
  font-size: 16px;
  margin-top: -25px;
  text-align: center;
}
.timelineholder {
  max-width: 100%;
  width: 100%;
  display: flex;
  margin-bottom: 200px;
}
.timeline {
  color: #fff;
  margin: auto;
  margin-right: 605px;
  justify-content: center;
  align-items: center;
}
.timeline-left {
  max-width: 100%;
  margin-left: -350px;
  width: 300px;
}
.timeline ul {
  list-style-type: none;
  border-left: 2px solid #ff9000;
  padding: 10px 5px;
}
.timeline ul li {
  padding: 20px 20px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

.timeline ul li {
  padding: 5px 20px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

.timeline ul li.left {
  padding: 5px 20px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

.timeline ul li span {
  display: inline-block;
  background-color: #3071ff;
  border-radius: 25px;
  padding: 2px 5px;
  margin-top: 16px;
  font-size: 15px;
  text-align: center;
}

.timeline ul li span.left {
  float: right;
  background-color: #3071ff;
  border-radius: 25px;
  padding: 2px 5px;
  margin-top: 14px;
  margin-right: -45px;
  font-size: 15px;
  text-align: center;
}

.timeline ul li span.spandash {
  color: red;
  border: none;
  background: transparent;
}
.timeline ul li .content h3 {
  color: #ff9000;
  font-size: 17px;
  padding-top: 3px;
}

.timeline ul li.left .content h3 {
  color: #ff9000;
  font-size: 17px;
  padding-top: 40px;
  text-align: right;
  margin-right: -43px;
}

.timeline ul li .content p.subsec4 {
  margin-top: -15px;
  font-weight: 300;
  color: #000;
}

.timeline ul li .content p.subsec4left {
  margin-top: -15px;
  text-align: right;
  margin-right: -42px;
  font-weight: 300;
  color: #000;
}
.timeline ul li:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ff9000;
  border-radius: 50%;
  left: -11px;
  top: 28px;
  transition: 0.5s;
}

.timeline ul li.left:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ff9000;
  border-radius: 50%;
  right: 150px;
  top: 28px;
  transition: 0.5s;
  margin-left: 350px;
}
/*
.timeline ul li:hover {
  background-color: #12293b;
  border-radius: 12px;
}
*/
.timeline ul li:hover:before {
  background-color: #0f0;
  box-shadow: 0px 0px 10px 2px #0f0;
}

#section5 {
  min-height: 50vh;
  display: inline-block;
  width: 100%;
}

div.wrappersec5 {
  width: 50%;
  margin: auto;
}

div.wrappersec5 h1.sec5head {
  text-align: center;
  font-weight: 400;
  font-size: 50px;
}

div.wrappersec5 p {
  text-align: center;
  font-size: 18px;
}

div.wrapperssec5b {
  margin: auto;
  text-align: center;
  margin-top: 70px;
}

div.wrapperssec5b button.button {
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid rgb(5, 5, 5);
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  z-index: 1;
  background: transparent;
  width: 7em;
  height: 3em;
}

div.wrapperssec5b a {
  text-decoration: none;
}

div.wrapperssec5b button.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

div.wrapperssec5b button.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #ff9000;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

div.wrapperssec5b button.button:hover {
  color: #ffffff;
  border: 2px solid #ff9000;
}

div.wrapperssec5b button.button:hover:before {
  top: -35%;
  background-color: #ff9000;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

div.wrapperssec5b button.button:hover:after {
  top: -45%;
  background-color: #ff9000;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* -- FOOTER --*/
.footer {
  text-align: center;
  background: #ff9000;
  padding: 5px;
}

.footer p {
  font-weight: 300;
  font-size: 16px;
  padding: 3px;
  background: #ff9000;
  color: #000;
}

/* -- ANIMATIONS -- */
.reveal {
  position: relative;
  transform: translateY(60px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes slideanimation {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-leftslight {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }

  66% {
    transform: translate(10px, -18px);
  }

  100% {
    transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}
@media (max-width: 1200px) {
  div.container-holdersec3 {
    width: 100%;
    display: block;
    margin: auto;
  }

  div.containermain-sec3 {
    background-color: #1e293b;
    max-width: 100%;
    width: 50%;
    height: 140px;
    border-radius: 12px;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(34, 34, 34, 0.35) 0px 5px 15px;
  }

  div.containermain-sec3 img.angular {
    margin: 0;
  }

  div.container-headersec3i {
    width: 10%;
    text-align: center;
  }
  div.container-headersec3i i {
    justify-content: center;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 28px;
  }

  div.container-headersec3p p {
    font-size: 1.3rem;
    text-align: center;
    margin-left: 30px;
  }

  div.container-headersecpicholder img.css {
    margin-left: 5px;
  }

  div.container-headersecpicholder img.js {
    margin-left: 5px;
  }

  div.container-headersecpicholder img.wp {
    margin-left: 5px;
  }

  div.container-headersec3p p.headersec3p2 {
    width: 72%;
    margin-top: -19px;
    margin-left: 3px;
    font-size: 13px;
    text-align: center;
  }

  div.container-headersecpicholder {
    display: flexbox;
    margin: 0px 5px 3px 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  div.container-headersecpicholder img {
    max-width: 50px;
    transition: all 0.2s ease-in-out;
    margin-top: 13px;
  }

  div.container-headersecpicholder img.php {
    margin: -10px 5px 3px 5px;
  }

  div.container-headersecpicholder img.ps {
    margin: 0 5px 3px 5px;
  }

  div.containermain-sec3two {
    background-color: #1e293b;
    max-width: 100%;
    width: 50%;
    height: 100px;
    border-radius: 12px;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(34, 34, 34, 0.35) 0px 5px 15px;
  }

  div.containermain-sec3two i {
    font-size: 30px;
    margin-left: 25px;
  }

  div.containermain-sec3two p {
    margin-left: 30px;
  }

  div.containermain-sec3two p.headersec3p2 {
    margin-left: 0px;
  }

  div.containermain-sec3two img {
    margin-left: 1.5px;
  }

  div.containermain-sec3three {
    background-color: #1e293b;
    max-width: 100%;
    width: 50%;
    height: 110px;
    border-radius: 12px;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(34, 34, 34, 0.35) 0px 5px 15px;
  }

  div.container-headersec3p p.others {
    margin-left: 20px;
    font-size: 1.3em;
  }

  div.container-headersec3p p.headersec3p2three {
    margin-top: -20px;
    margin-left: 24px;
    font-size: 13px;
    text-align: center;
  }

  div.containermain-sec3threei {
    width: 10%;
  }

  div.containermain-sec3three i {
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 28px;
    margin-top: 0px;
  }

  div.container-headersecpicholder img.ps {
    margin-left: 5px;
    margin-top: 0px;
  }
}

@media (max-width: 1450px) {
  div.container-headersecpicholder img {
    width: 23%;
  }

  div.container-holdersec3 {
    height: 230px;
    margin: auto;
  }
}

@media (max-width: 400px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  div.timelineholder {
    width: 100%;
  }

  div.timeline {
    justify-content: center;
    align-items: center;
    margin-right: 80px;
  }

  #section1 {
    height: 80vh;
    display: inline-block;
    max-width: 100%;
    width: 100%;
    border-style: none;
  }
}

@media (max-width: 500px) {
  body,
  html {
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
  }

  div.timelineholder {
    width: 100%;
    margin-left: 70px;
  }
}

@media (max-width: 687px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }

  .loader {
    width: 33px;
    height: 33px;
    position: relative;
    display: inline-block;
    margin: 0 13px;
    top: calc(50vh - 50px);
    left: calc(50vw - 100px);
  }

  label {
    position: absolute;
    width: 45px;
    height: 22px;
    right: 30px;
    top: 40px;
    border: 2px solid;
    border-radius: 20px;
  }

  div.logo img.logoimg {
    margin: auto;
    margin-left: 30px;
    margin-top: 30px;
    width: 65px;
  }
  div.wrappersec1 {
    display: block;
    margin: auto;
    width: 90%;
  }
  div.imgsec1 {
    width: 100%;
  }

  div.imgsec1 img {
    margin: auto;
    margin-top: -480px;
    margin-left: 43px;

    width: 250px;
  }

  div.mynamecont {
    width: 86%;
    margin: auto;
    margin-right: 0px;
    margin-left: 15px;
    margin-top: 300px;
  }

  div.mynamecont h1.myname {
    font-size: 2rem;
    text-align: center;
    margin: auto;
  }

  div.mynamecont p {
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }

  div.mynamecont p.mynameabt {
    font-size: 0.8rem;
    text-align: center;
    margin: auto;
    margin-top: 15px;
  }

  div.mynamecont button {
    width: 120px;
    padding: 10px 8px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 90px;
    margin-top: 20px;
  }

  div.mynamecont button a {
    font-size: 0.9rem;
  }

  div.container-holdersec3 {
    width: 100%;
    margin: auto;
  }

  #section3 {
    height: 120vh;
  }

  div.containermain-sec3 {
    background-color: #f3f3f3;
    max-width: 100%;
    width: 80%;
    height: 155px;
    border-radius: 12px;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(34, 34, 34, 0.35) 0px 5px 15px;
  }

  div.containermain-sec3two {
    background-color: #f3f3f3;
    max-width: 100%;
    width: 80%;
    height: 150px;
    border-radius: 12px;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(34, 34, 34, 0.35) 0px 5px 15px;
  }

  div.containermain-sec3three {
    background-color: #f3f3f3;
    max-width: 100%;
    width: 80%;
    height: 155px;
    border-radius: 12px;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(34, 34, 34, 0.35) 0px 5px 15px;
  }

  div.containermain-sec3two div.textholderimg {
    justify-self: center;
  }

  div.container-headersec3i {
    width: 5%;
    text-align: center;
  }
  div.container-headersec3i i {
    justify-content: center;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 0px;
    font-size: 20px;
  }

  div.container-headersec3p p {
    font-size: 13px;
    text-align: center;
    margin-left: 37px;
  }

  div.container-headersecpicholder img.css {
    margin-left: 5px;
  }

  div.container-headersecpicholder img.js {
    margin-left: 5px;
  }

  div.container-headersecpicholder img.wp {
    margin-left: 0px;
  }

  div.container-headersecpicholder img.angular {
    margin-left: 0px;
    margin-top: 13px;
  }

  div.container-headersec3p p.headersec3p2 {
    width: 72%;
    margin-top: -13px;
    margin-left: 18px;
    font-size: 9px;
    text-align: center;
  }

  div.containermain-sec3 img {
    width: 40px;
  }

  div.container-headersecpicholder {
    margin: -40px 5px 3px -40px;
    width: 100%;
  }

  div.containermain-sec3two i {
    font-size: 25px;
    margin-left: 17px;
  }

  div.containermain-sec3two p {
    margin-left: 40px;
  }

  div.containermain-sec3two p.headersec3p2 {
    margin-left: 17px;
  }

  div.containermain-sec3two img {
    margin-left: 1.5px;
    width: 40px;
  }

  div.container-headersec3p p.others {
    margin-left: 35px;
    font-size: 13px;
  }

  div.container-headersec3p p.headersec3p2three {
    width: 100%;
    margin-top: -14px;
    margin-left: 28px;
    font-size: 9px;
    text-align: center;
  }

  div.textholderimg #phptext {
    margin-left: 0;
  }

  div.textholderimg p {
    font-size: 9px;
  }

  div.containermain-sec3two .textholderimg {
    margin-left: -105px;
  }

  div.containermain-sec3three .textholderimg {
    margin-left: -105px;
  }

  div.containermain-sec3three i {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 0px 22px;
  }

  div.container-headersecpicholder img.ps {
    margin-left: 5px;
    margin-top: 13px;
    width: 40px;
  }

  div.container-headersecpicholder img.php {
    margin-top: 5px;
  }

  div.headersec3 {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  div.headersec3 h1 {
    font-size: 2.5rem;
    margin: auto;
  }

  div.headersec3 p {
    font-size: 1rem;
    margin: 0;
  }

  div.headersec2 {
    margin-top: 10px;
  }
  div.headersec2 h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  div.headersec2 p {
    font-size: 1rem;
    margin: 0;
  }

  div.wrappersec2 {
    display: block;
    width: 80%;
    margin-top: 20px;
  }

  div.imgsec2 img.sec2picabout {
    width: 500px;
    border-radius: 10px;
  }

  div.infoabout2 {
    margin-left: 0px;
    margin-top: 20px;
  }

  div.infoabout2 p.aboutme2 {
    font-size: 0.8rem;
  }
  div.infoabout2 p {
    font-size: 0.8rem;
    text-align: justify;
  }

  div.sec4header h1 {
    font-size: 2.5rem;
    margin: auto;
  }
  div.sec4header p {
    font-size: 1rem;
    margin: 0;
  }

  div.numberholder {
    margin-top: -15px;
  }

  div.numbers {
    margin-left: 15px;
  }

  div.numbers h1 {
    font-size: 1.3em;
  }

  div.numbers p {
    font-size: 0.8rem;
  }

  div.wrappersec2 button {
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    margin-left: 85px;
  }

  div.wrappersec2 button a {
    font-size: 14px;
  }

  .timelineholder {
    width: 100%;
    margin: 0;
    margin-left: 0%;
    padding-left: 70px;
  }

  .timeline {
    color: #fff;
    margin: auto;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
  }

  .timeline ul {
    list-style-type: none;
    border-left: 2px solid #ff9000;
    padding: 0px 5px;
  }

  .timeline ul li {
    padding: 0px 0px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
  }

  .timeline ul li.left {
    padding: 0px 0px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
  }

  .timeline ul li span.left {
    float: right;
    background-color: #3071ff;
    border-radius: 25px;
    padding: 3px 5px;
    margin-top: 20px;
    margin-right: -80px;
    font-size: 12px;
    text-align: center;
  }

  .timeline ul li span {
    display: inline-block;
    background-color: #3071ff;
    border-radius: 25px;
    padding: 3px 5px;
    margin-top: 23px;
    margin-left: 10px;
    font-size: 12px;
    text-align: center;
  }

  .timeline ul li.left .content span.spandash {
    color: red;
    margin: 0px;
  }

  .timeline ul li .content h3 {
    color: #ff9000;
    font-size: 14px;
    width: 80%;
    margin-top: 5px;
  }

  .timeline ul li.left .content h3 {
    color: #ff9000;
    font-size: 14px;
    text-align: right;
    padding-top: 50px;
    padding-left: 90px;
    width: 100%;
  }

  .timeline ul li .content p.subsec4 {
    margin-top: -15px;
    font-weight: 200;
    font-size: 12px;
  }

  .timeline ul li .content p.subsec4left {
    margin-top: -15px;
    text-align: right;
    width: 100%;
    padding-left: 90px;
    font-weight: 200;
    font-size: 12px;
  }

  div.wrappersec5 {
    width: 80%;
  }

  div.wrappersec5 h1.sec5head {
    font-size: 2.5em;
  }

  div.wrappersec5 p {
    font-size: 0.7em;
  }

  div.wrapperssec5b button.button {
    font-size: 13px;
    margin-top: -30px;
    padding: 10px 22px;
  }

  div.footer p {
    font-size: 0.7em;
  }

  body.night div.container-headersec3p p {
    font-size: 1.2rem;
    text-align: center;
    margin-left: 30px;
    color: #ffffff;
  }

  div.container-holdersec3 {
    width: 100%;
    display: block;
    margin: auto;
  }

  body.night div.containermain-sec3 {
    background-color: #1e293b;
    max-width: 100%;
    width: 80%;
    height: 150px;
    border-radius: 12px;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(34, 34, 34, 0.35) 0px 5px 15px;
  }

  body.night div.containermain-sec3two {
    background-color: #1e293b;
    max-width: 100%;
    width: 80%;
    height: 150px;
    border-radius: 12px;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(34, 34, 34, 0.35) 0px 5px 15px;
  }

  body.night div.containermain-sec3three {
    background-color: #1e293b;
    max-width: 100%;
    width: 80%;
    height: 150px;
    border-radius: 12px;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(34, 34, 34, 0.35) 0px 5px 15px;
  }

  body.night div.container-headersec3i {
    width: 5%;
    text-align: center;
  }
  body.night div.container-headersec3i i {
    justify-content: center;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 0px;
    font-size: 20px;
  }

  body.night div.container-headersec3p p {
    font-size: 13px;
    text-align: center;
    margin-left: 37px;
  }

  body.night div.container-headersecpicholder img.css {
    margin-left: 5px;
  }

  body.night div.container-headersecpicholder img.js {
    margin-left: 5px;
  }

  body.night div.container-headersecpicholder img.wp {
    margin-left: 5px;
  }

  body.night div.container-headersec3p p.headersec3p2 {
    width: 72%;
    margin-top: -13px;
    margin-left: 18px;
    font-size: 9px;
    text-align: center;
  }

  body.night div.containermain-sec3 img {
    width: 40px;
  }

  body.night div.container-headersecpicholder {
    display: flexbox;
    margin: -12px 5px 3px 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  body.night div.containermain-sec3two i {
    font-size: 25px;
    margin-left: 17px;
  }

  body.night div.containermain-sec3two p {
    margin-left: 40px;
  }

  body.night div.containermain-sec3two p.headersec3p2 {
    margin-left: 17px;
  }

  body.night div.containermain-sec3two img {
    margin-left: 1.5px;
    width: 40px;
  }

  body.night div.container-headersec3p p.others {
    margin-left: 35px;
    font-size: 13px;
  }

  body.night div.container-headersec3p p.headersec3p2three {
    width: 100%;
    margin-top: -14px;
    margin-left: 28px;
    font-size: 9px;
    text-align: center;
  }

  body.night div.containermain-sec3three i {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 0px 22px;
  }

  body.night div.container-headersecpicholder img.ps {
    margin-left: 5px;
    margin-top: 13px;
    width: 40px;
  }

  body.night div.container-headersecpicholder img.php {
    margin-top: 5px;
  }

  body.night div.containermain-sec3two .textholderimg {
    margin-left: -105px;
  }

  body.night div.containermain-sec3three .textholderimg {
    margin-left: -105px;
  }

  body.night div.container-headersecpicholder {
    margin-left: -50px;
    margin-top: -45px;
  }
}

@media (max-width: 375px) {
  body,
  html {
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
  }

  div.imgsec1 img {
    margin-top: -550px;
    margin-left: 30px;
  }

  .timelineholder {
    width: 100%;
    margin: 0;
    margin-left: 0;
  }

  .timeline {
    color: #fff;
    margin: 0;
    margin-left: 113px;
    justify-content: center;
    align-items: center;
  }

  .timeline ul {
    list-style-type: none;
    border-left: 2px solid #ff9000;
    padding: 0px 5px;
  }

  .timeline ul li {
    padding: 0px 0px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
  }

  .timeline ul li.left {
    padding: 0px 0px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
  }

  .timeline ul li span.left {
    float: right;
    background-color: #3071ff;
    border-radius: 25px;
    padding: 3px 5px;
    margin-top: 20px;
    margin-right: -160px;
    font-size: 12px;
    text-align: center;
  }

  .timeline ul li span {
    display: inline-block;
    background-color: #3071ff;
    border-radius: 25px;
    padding: 3px 5px;
    margin-top: 23px;
    margin-left: 10px;
    font-size: 12px;
    text-align: center;
  }

  .timeline ul li.left .content span.spandash {
    color: red;
    margin: 0px;
  }

  .timeline ul li .content h3 {
    color: #ff9000;
    font-size: 14px;
    width: 100%;
    margin-top: 5px;
    margin-left: 10px;
  }

  .timeline ul li.left .content h3 {
    color: #ff9000;
    font-size: 14px;
    text-align: right;
    padding-top: 50px;
    margin-left: 65px;
    width: 100%;
  }

  .timeline ul li .content p.subsec4 {
    margin-top: -15px;
    font-weight: 200;
    font-size: 12px;
  }

  .timeline ul li .content p.subsec4left {
    margin-top: -15px;
    text-align: right;
    width: 100%;
    margin-left: 65px;
    font-weight: 200;
    font-size: 12px;
  }
}
